/Lập trình cơ bản/LTCanBan/LTCanBan/obj
/Lập trình cơ bản/LTCanBan/LTCanBan/bin
/Lập trình cơ bản/LTCanBan/.vs
/Lập trình cơ bản/WebApplication1/WebApplication1/obj
/Lập trình cơ bản/WebApplication1/WebApplication1/bin
/Lập trình cơ bản/WebApplication1/.vs
/Lập trình cơ bản/WebApplication1/Services/obj
/Lập trình cơ bản/WebApplication1/Services/bin
/Lập trình cơ bản/WebApplication1/WebApi/obj
/Lập trình cơ bản/WebApplication1/WebApi/bin
/WebApplication4/obj
/WebApplication4/.vs
